In [1]:
# Import the dependencies.
import pandas as pd
import psycopg2

In [2]:
# Establish the connection
conn = psycopg2.connect(
   database="project_4", user="postgres", password="postgres", host="localhost", port="5432"
)

# Create dataframe
df = pd.read_sql_query('''SELECT * from attrition WHERE age = 41''', conn)

# Close the connection
conn.close()

C:\Users\danie\AppData\Local\Temp\ipykernel_19712\3057932573.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query('''SELECT * from attrition WHERE age = 41''', conn)

In [3]:
df

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,...,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,41,Yes,Travel_Rarely,1360,Research & Development,12,3,Technical Degree,1,58,...,4,80,0,23,0,3,22,15,15,8
2,41,No,Travel_Rarely,802,Sales,9,1,Life Sciences,1,176,...,3,80,1,12,2,3,9,7,0,7
3,41,No,Travel_Frequently,857,Research & Development,10,3,Life Sciences,1,199,...,2,80,1,21,2,2,7,6,7,7
4,41,No,Travel_Rarely,933,Research & Development,9,4,Life Sciences,1,200,...,4,80,1,7,2,3,5,0,1,4
5,41,No,Travel_Rarely,465,Research & Development,14,3,Life Sciences,1,227,...,1,80,1,13,2,3,9,8,1,8
6,41,Yes,Travel_Rarely,1356,Sales,20,2,Marketing,1,248,...,4,80,0,4,5,2,4,3,0,2
7,41,No,Travel_Rarely,896,Sales,6,3,Life Sciences,1,298,...,3,80,0,16,3,3,1,0,0,0
8,41,No,Travel_Rarely,1411,Research & Development,19,2,Life Sciences,1,334,...,1,80,2,17,2,2,1,0,0,0
9,41,No,Travel_Rarely,334,Sales,2,4,Life Sciences,1,410,...,2,80,0,22,2,3,22,10,0,4
10,41,No,Travel_Rarely,483,Research & Development,6,3,Medical,1,466,...,4,80,0,8,3,3,5,4,1,2
11,41,Yes,Travel_Frequently,143,Sales,4,3,Marketing,1,488,...,3,80,0,8,5,3,8,7,7,7
12,41,No,Travel_Rarely,645,Sales,1,3,Marketing,1,534,...,3,80,1,10,2,3,10,7,0,7
13,41,No,Non-Travel,267,Sales,10,2,Life Sciences,1,599,...,4,80,0,16,3,3,14,3,1,10
14,41,No,Non-Travel,509,Research & Development,2,4,Other,1,616,...,1,80,0,10,3,3,8,7,0,7
15,41,No,Travel_Rarely,1276,Sales,2,5,Life Sciences,1,625,...,2,80,1,22,2,3,18,16,11,8
16,41,No,Travel_Rarely,427,Human Resources,10,4,Human Resources,1,731,...,2,80,3,23,2,2,21,6,12,6
17,41,No,Travel_Rarely,314,Human Resources,1,3,Human Resources,1,734,...,2,80,1,22,3,3,22,7,2,10
18,41,Yes,Travel_Rarely,1085,Research & Development,2,4,Life Sciences,1,927,...,3,80,1,10,1,2,7,7,1,0
19,41,No,Travel_Rarely,263,Research & Development,6,3,Medical,1,957,...,3,80,0,20,3,3,18,13,2,17
20,41,No,Travel_Frequently,840,Research & Development,9,3,Medical,1,999,...,2,80,1,21,2,4,18,16,0,11
21,41,No,Travel_Rarely,549,Research & Development,7,2,Medical,1,1025,...,2,80,0,8,6,3,2,2,2,1
22,41,No,Non-Travel,247,Research & Development,7,1,Life Sciences,1,1035,...,2,80,2,21,3,3,21,16,5,10
23,41,No,Travel_Rarely,509,Research & Development,7,2,Technical Degree,1,1085,...,3,80,0,10,3,3,10,6,0,8
24,41,No,Travel_Rarely,167,Research & Development,12,4,Life Sciences,1,1158,...,1,80,1,6,4,3,1,0,0,0
25,41,Yes,Non-Travel,906,Research & Development,5,2,Life Sciences,1,1210,...,1,80,1,5,2,1,1,0,0,0
26,41,No,Non-Travel,256,Sales,10,2,Medical,1,1329,...,1,80,0,19,4,3,19,2,11,9
27,41,No,Travel_Frequently,1018,Sales,1,3,Marketing,1,1349,...,4,80,1,10,2,3,9,3,1,7
28,41,No,Travel_Frequently,1200,Research & Development,22,3,Life Sciences,1,1392,...,1,80,2,12,4,2,6,2,3,3
29,41,No,Travel_Rarely,1283,Research & Development,5,5,Medical,1,1448,...,1,80,0,7,5,2,4,2,0,3
30,41,No,Travel_Rarely,1206,Sales,23,2,Life Sciences,1,1678,...,4,80,0,21,2,3,2,0,0,2
31,41,No,Travel_Rarely,918,Sales,6,3,Marketing,1,1708,...,2,80,0,10,3,3,10,8,8,7
32,41,No,Non-Travel,552,Human Resources,4,3,Human Resources,1,1722,...,2,80,1,10,4,3,3,2,1,2
33,41,No,Travel_Rarely,548,Research & Development,9,4,Life Sciences,1,1772,...,2,80,2,5,2,3,5,3,0,4
34,41,No,Travel_Rarely,447,Research & Development,5,3,Life Sciences,1,1814,...,1,80,0,11,3,1,3,2,1,2
35,41,No,Travel_Rarely,796,Sales,4,1,Marketing,1,1815,...,4,80,1,23,3,4,22,14,13,5
36,41,No,Travel_Rarely,337,Sales,8,3,Marketing,1,1909,...,3,80,1,14,3,3,5,4,1,4
37,41,No,Travel_Rarely,642,Research & Development,1,3,Life Sciences,1,1999,...,1,80,1,12,3,3,5,3,1,0
38,41,No,Travel_Rarely,582,Research & Development,28,4,Life Sciences,1,2034,...,3,80,1,21,3,3,20,7,0,10
39,41,No,Travel_Rarely,930,Sales,3,3,Life Sciences,1,2037,...,3,80,1,14,5,3,5,4,0,4