In [20]:
# Import the dependencies.
from sqlalchemy import create_engine
import pandas as pd

In [21]:
engine = create_engine("postgresql://postgres:postgres@localhost:5432/project_4")

In [22]:
with engine.connect().execution_options(stream_results=True) as conn:
    for chunk_df in pd.read_sql("SELECT * FROM attrition", conn, chunksize=1000):
        print(f'DataFrame has {len(chunk_df)} rows.')

AttributeError: 'Connection' object has no attribute 'exec_driver_sql'

In [11]:
%sql engine.url

 * postgresql://postgres:***@localhost:5432/project_4
Traceback (most recent call last):
  File "c:\Users\danie\anaconda3\envs\dev\lib\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['postgresql://postgres:***@localhost:5432/project_4'])

In [12]:
%sql SELECT * from attrition limit 5

 * postgresql://postgres:***@localhost:5432/project_4
Traceback (most recent call last):
  File "c:\Users\danie\anaconda3\envs\dev\lib\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['postgresql://postgres:***@localhost:5432/project_4'])